Bulk Update

Most parts can be updated in bulk using SQLite DB Browser, however, a few cannot be rendered there,

we use notebook to run SQL instead

In [1]:
from utils import *

In [5]:
zi = '𨸏'
zi_new = '阝'

In [2]:
sql_stmt = f"""
select * from t_zi_part where zi_left='{zi}'
"""

with DBConn() as _conn:
    df = pd.read_sql(sql_stmt, _conn).fillna("")

In [4]:
df.head(3)

,zi,u_id,zi_left_up,zi_left,zi_left_down,zi_up,zi_mid,zi_down,zi_right_up,zi_right,zi_right_down,zi_mid_out,zi_mid_in,ts,desc_cn,is_active,id_shuowen,hsk_note,desc_en
0,阱,5532,,𨸏,,,,,,井,,,,,陷也。从𨸏从井，井亦聲。,Y,3177,in HSK,
1,陸,,,𨸏,,,,,,坴,,,,,高平地。从𨸏从坴，坴亦聲。,,9576,,
2,陟,13075,,𨸏,,,,,,步,,,,,登也。从𨸏从步。,Y,9594,,

Update parts

In [6]:
sql_stmt = f"""
update t_zi_part set 
	zi_mid = zi_right, zi_right = null, zi_left='{zi_new}'
 where zi_left = '{zi}' and zi_right is not null;
"""

with DBConn() as _conn:
    db_run_sql(sql_stmt, _conn)

[DEBUG]
update t_zi_part set
	zi_mid = zi_right, zi_right = null, zi_left='阝'
 where zi_left = '𨸏' and zi_right is not null;

query again

In [7]:
sql_stmt = f"""
select * from t_zi_part where zi_left='{zi_new}'
"""

with DBConn() as _conn:
    df_new = pd.read_sql(sql_stmt, _conn).fillna("")

In [8]:
df_new

,zi,u_id,zi_left_up,zi_left,zi_left_down,zi_up,zi_mid,zi_down,zi_right_up,zi_right,zi_right_down,zi_mid_out,zi_mid_in,ts,desc_cn,is_active,id_shuowen,hsk_note,desc_en
0,隋,960,,阝,,左,,月,,,,,,2024-01-17 01:24:03,裂肉也。从肉，从隓省。,Y,2660,,
1,阱,5532,,阝,,,井,,,,,,,,陷也。从𨸏从井，井亦聲。,Y,3177,in HSK,
2,陸,,,阝,,,坴,,,,,,,,高平地。从𨸏从坴，坴亦聲。,,9576,,
3,陟,13075,,阝,,,步,,,,,,,,登也。从𨸏从步。,Y,9594,,
4,隉,,,阝,,,毀,,,,,,,,危也。从𨸏，从毀省。徐巡以爲：隉，凶也。賈侍中說：隉，法度也。班固說：不安也。《周書》曰：“...,,9602,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,阴,12005,,阝,,,月,,,,,,,2024-01-17 00:10:27,,Y,,from HSK,overcast (weather)/cloudy/shady/Yin (the negat...
98,阳,11662,,阝,,,日,,,,,,,2024-01-17 00:08:55,,Y,,from HSK,positive (electric.)/sun/male principle (Taois...
99,阵,12910,,阝,,,车,,,,,,,2024-01-17 00:14:21,,Y,,from HSK,disposition of troops/wave/spate/burst/spell/s...
100,队,3237,,阝,,,人,,,,,,,2024-01-14 15:19:23,,Y,,from HSK,squadron/team/group/CL:個|个[ge4]
101,际,5035,,阝,,,示,,,,,,,2024-01-18 02:15:05,,Y,,from HSK,border/edge/boundary/interval/between/inter-/t...