In [1]:
# import matplotlib.pyplot as plt
import plotly.graph_objects as go
import pandas as pd 
from utils import *

2025-04-05 11:02:34.946 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-05 11:02:34.967 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [36]:
pattern = "LU-U-RU-M-D"  # "U-M-LD-D-RD" # "L-M-R-D"# "LU-U-RU-D"#  "L-RU-R-RD"# "M-Mi-Mo"  
# "LD-U-M"#  "U-L-R" # "L-M-R"  # "LU-LD-R" # "Mi-Mo" # "M-D" # "LU-M" # "M-Mi" # "LD-M" # "M-R" # "L-R" # 

sql_link = f"""
with link_l_r as (
	SELECT 
		'L-R' as "link", 2 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_left, '')) <> '' 
	AND TRIM(COALESCE(zi_right, '')) <> '' 
	AND TRIM(COALESCE(zi_up,zi_down,zi_mid,zi_left_up, zi_left_down,zi_right_up,zi_right_down,zi_mid_in,zi_mid_out,'')) = '' 
)

, link_l_m as (
	SELECT 
		'L-M' as "link", 2 as "bodies",t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_left, '')) <> '' 
	AND TRIM(COALESCE(zi_mid, '')) <> '' 
	AND TRIM(COALESCE(zi_up,zi_down,zi_right,zi_left_up, zi_left_down,zi_right_up,zi_right_down,zi_mid_in,zi_mid_out,'')) = '' 
)
, link_m_r as (
SELECT 
		'M-R' as "link", 2 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_mid, '')) <> '' 
	AND TRIM(COALESCE(zi_right, '')) <> '' 
	AND TRIM(COALESCE(zi_up,zi_down,zi_left,zi_left_up, zi_left_down,zi_right_up,zi_right_down,zi_mid_in,zi_mid_out,'')) = '' 
)
, link_l_m_r as (
	SELECT 
		'L-M-R' as "link", 3 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_left, '')) <> '' 
	AND TRIM(COALESCE(zi_mid, '')) <> '' 
	AND TRIM(COALESCE(zi_right, '')) <> '' 
	AND TRIM(COALESCE(zi_up,zi_down,zi_left_up, zi_left_down,zi_right_up,zi_right_down,zi_mid_in,zi_mid_out,'')) = '' 
)
, link_l_m_r_d as (
	SELECT 
		'L-M-R-D' as "link", 4 as "bodies",  t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_left, '')) <> '' 
	AND TRIM(COALESCE(zi_mid, '')) <> '' 
	AND TRIM(COALESCE(zi_right, '')) <> '' 
	AND TRIM(COALESCE(zi_down, '')) <> '' 
	AND TRIM(COALESCE(zi_up,zi_left_up, zi_left_down,zi_right_up,zi_right_down,zi_mid_in,zi_mid_out,'')) = '' 
)
, link_u_d as (
	SELECT 
		'U-D' as "link", 2 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_up , '')) <> '' 
	AND TRIM(COALESCE(zi_down , '')) <> '' 
	AND TRIM(COALESCE(zi_left,zi_right,zi_mid,zi_left_up, zi_left_down,zi_right_up,zi_right_down,zi_mid_in,zi_mid_out,'')) = '' 
)
, link_u_m as (
	SELECT 
		'U-M' as "link", 2 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_up , '')) <> '' 
	AND TRIM(COALESCE(zi_mid  , '')) <> '' 
	AND TRIM(COALESCE(zi_left,zi_right,zi_down,zi_left_up, zi_left_down,zi_right_up,zi_right_down,zi_mid_in,zi_mid_out,'')) = '' 
)
, link_m_d as (
	SELECT 
		'M-D' as "link", 2 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_down  , '')) <> '' 
	AND TRIM(COALESCE(zi_mid  , '')) <> '' 
	AND TRIM(COALESCE(zi_left,zi_right,zi_up,zi_left_up, zi_left_down,zi_right_up,zi_right_down,zi_mid_in,zi_mid_out,'')) = '' 
)
, link_u_m_d as (
	SELECT 
		'U-M-D' as "link", 3 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_up  , '')) <> '' 
	AND TRIM(COALESCE(zi_mid  , '')) <> '' 
	AND TRIM(COALESCE(zi_down  , '')) <> '' 
	AND TRIM(COALESCE(zi_left,zi_right,zi_left_up, zi_left_down,zi_right_up,zi_right_down,zi_mid_in,zi_mid_out,'')) = '' 
)
, link_m_mi as (
	SELECT 
		'M-Mi' as "link", 2 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_mid_in, '')) <> '' 
	AND TRIM(COALESCE(zi_mid  , '')) <> '' 
	AND TRIM(COALESCE(zi_up, zi_down, zi_left,zi_right,zi_left_up, zi_left_down,zi_right_up,zi_right_down,zi_mid_out,'')) = '' 
)
, link_m_mo as (
	SELECT 
		'M-Mo' as "link", 2 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_mid_out,  '')) <> '' 
	AND TRIM(COALESCE(zi_mid  , '')) <> '' 
	AND TRIM(COALESCE(zi_up, zi_down, zi_left,zi_right,zi_left_up, zi_left_down,zi_right_up,zi_right_down,zi_mid_in,'')) = '' 
)
, link_mi_mo as (
	SELECT 
		'Mi-Mo' as "link", 2 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_mid_out,  '')) <> '' 
	AND TRIM(COALESCE(zi_mid_in   , '')) <> '' 
	AND TRIM(COALESCE(zi_up, zi_down, zi_left,zi_right,zi_left_up, zi_left_down,zi_right_up,zi_right_down,zi_mid,'')) = '' 
)
, link_m_mi_mo as (
	SELECT 
		'M-Mi-Mo' as "link", 3 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_mid,  '')) <> '' 
	AND TRIM(COALESCE(zi_mid_out,  '')) <> '' 
	AND TRIM(COALESCE(zi_mid_in   , '')) <> '' 
	AND TRIM(COALESCE(zi_up, zi_down, zi_left,zi_right,zi_left_up, zi_left_down,zi_right_up,zi_right_down,'')) = '' 
)

, link_u_l_r as (
	SELECT 
		'U-L-R' as "link", 3 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_up,  '')) <> '' 
	AND TRIM(COALESCE(zi_left,  '')) <> '' 
	AND TRIM(COALESCE(zi_right,  '')) <> '' 
	AND TRIM(COALESCE(zi_mid, zi_mid_out,zi_mid_in, zi_down, zi_left_down,zi_right_down,  zi_left_up, zi_right_up,'')) = '' 
)

, link_u_ld_rd as (
	SELECT 
		'U-LD-RD' as "link", 3 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_up,  '')) <> '' 
	AND TRIM(COALESCE(zi_left_down,  '')) <> '' 
	AND TRIM(COALESCE(zi_right_down,  '')) <> '' 
	AND TRIM(COALESCE(zi_mid, zi_mid_out,zi_mid_in, zi_down, zi_left,zi_right,zi_left_up, zi_right_up,'')) = '' 
)

, link_u_m_ld_d_rd as (
	SELECT 
		'U-M-LD-D-RD' as "link", 5 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_up,  '')) <> '' 
	AND TRIM(COALESCE(zi_mid,  '')) <> '' 
	AND TRIM(COALESCE(zi_left_down,  '')) <> '' 
	AND TRIM(COALESCE(zi_down,   '')) <> '' 
	AND TRIM(COALESCE(zi_right_down,  '')) <> '' 
	AND TRIM(COALESCE( zi_mid_out,zi_mid_in, zi_left,zi_right,zi_left_up, zi_right_up,'')) = '' 
)

, link_lu_ru_d as (
	SELECT 
		'LU-RU-D' as "link", 3 as "bodies",  t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_down,  '')) <> '' 
	AND TRIM(COALESCE(zi_left_up,  '')) <> '' 
	AND TRIM(COALESCE(zi_right_up,   '')) <> '' 
	AND TRIM(COALESCE(zi_mid, zi_mid_out,zi_mid_in, zi_up,  zi_left,zi_right, zi_right_down, zi_left_down, '')) = '' 
)

, link_lu_u_ru_d as (
	SELECT 
		'LU-U-RU-D' as "link", 4 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_down,  '')) <> '' 
	AND TRIM(COALESCE(zi_left_up,  '')) <> '' 
	AND TRIM(COALESCE(zi_up,  '')) <> '' 
	AND TRIM(COALESCE(zi_right_up,   '')) <> '' 
	AND TRIM(COALESCE(zi_mid, zi_mid_out,zi_mid_in,  zi_left,zi_right, zi_right_down, zi_left_down, '')) = '' 
)

, link_lu_u_ru_m_d as (
	SELECT 
		'LU-U-RU-M-D' as "link", 5 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_left_up,  '')) <> '' 
	AND TRIM(COALESCE(zi_up,  '')) <> '' 
	AND TRIM(COALESCE(zi_right_up,   '')) <> '' 
	AND TRIM(COALESCE(zi_mid,   '')) <> '' 
	AND TRIM(COALESCE(zi_down,  '')) <> '' 
	AND TRIM(COALESCE(zi_mid_out,zi_mid_in,  zi_left,zi_right, zi_right_down, zi_left_down, '')) = '' 
)


, link_lu_ld_r as (
	SELECT 
		'LU-LD-R' as "link", 3 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_left_up,  '')) <> '' 
	AND TRIM(COALESCE(zi_left_down,   '')) <> '' 
	AND TRIM(COALESCE(zi_right,   '')) <> '' 
	AND TRIM(COALESCE(zi_mid, zi_mid_out,zi_mid_in, zi_up,zi_right_up,   zi_left, zi_right_down, zi_down, '')) = '' 
)

, link_l_ru_rd as (
	SELECT 
		'L-RU-RD' as "link", 3 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_left,   '')) <> '' 
	AND TRIM(COALESCE(zi_right_up,   '')) <> '' 
	AND TRIM(COALESCE(zi_right_down,  '')) <> '' 
	AND TRIM(COALESCE(zi_mid, zi_mid_out,zi_mid_in, zi_up,  zi_right, zi_left_down, zi_left_up,    zi_down, '')) = '' 
)

, link_l_ru_r_rd as (
	SELECT 
		'L-RU-R-RD' as "link", 4 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_left,   '')) <> '' 
	AND TRIM(COALESCE(zi_right_up,   '')) <> '' 
	AND TRIM(COALESCE(zi_right,   '')) <> '' 
	AND TRIM(COALESCE(zi_right_down,  '')) <> '' 
	AND TRIM(COALESCE(zi_mid, zi_mid_out,zi_mid_in, zi_up,   zi_left_down, zi_left_up,    zi_down, '')) = '' 
)


, link_lu_ru_ld_rd as (
	SELECT 
		'LU-RU-LD-RD' as "link", 4 as "bodies",  t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_left_up,  '')) <> '' 
	AND TRIM(COALESCE(zi_right_up,  '')) <> '' 
	AND TRIM(COALESCE(zi_left_down,  '')) <> '' 
	AND TRIM(COALESCE(zi_right_down,  '')) <> '' 
	AND TRIM(COALESCE(zi_up, zi_mid, zi_mid_out,zi_mid_in, zi_down, zi_left,zi_right, '')) = '' 
)
, link_lu_ru_ld_rd_m as (
	SELECT 
		'LU-RU-LD-RD-M' as "link", 5 as "bodies",  t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_left_up,  '')) <> '' 
	AND TRIM(COALESCE(zi_right_up,  '')) <> '' 
	AND TRIM(COALESCE(zi_left_down,  '')) <> '' 
	AND TRIM(COALESCE(zi_right_down,  '')) <> '' 
	AND TRIM(COALESCE(zi_mid,  '')) <> '' 
	AND TRIM(COALESCE(zi_up,  zi_mid_out,zi_mid_in, zi_down, zi_left,zi_right, '')) = '' 
)

, link_lu_m as (
	SELECT 
		'LU-M' as "link", 2 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_left_up, '')) <> '' 
	AND TRIM(COALESCE(zi_mid  , '')) <> '' 
	AND TRIM(COALESCE(zi_up, zi_down, zi_left,zi_right, zi_mid_in, zi_left_down,zi_right_up,zi_right_down,zi_mid_out,'')) = '' 
)
, link_lu_m_d as (
	SELECT 
		'LU-M-D' as "link", 3 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_left_up, '')) <> '' 
	AND TRIM(COALESCE(zi_mid  , '')) <> '' 
	AND TRIM(COALESCE(zi_down,  '')) <> '' 
	AND TRIM(COALESCE(zi_up, zi_mid, zi_left,zi_right, zi_mid_in, zi_left_down,zi_right_up,zi_right_down,zi_mid_out,'')) = '' 
)

, link_ld_m as (
	SELECT 
		'LD-M' as "link", 2 as "bodies",  t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_left_down,'')) <> '' 
	AND TRIM(COALESCE(zi_mid  , '')) <> '' 
	AND TRIM(COALESCE(zi_up, zi_down, zi_left,zi_right, zi_left_up, zi_mid_in, zi_right_up,zi_right_down,zi_mid_out,'')) = '' 
)

, link_ld_u_m as (
	SELECT 
		'LD-U-M' as "link", 3 as "bodies", t_zi_part.*
	FROM t_zi_part 
	WHERE 1=1
	AND TRIM(COALESCE(zi_left_down,'')) <> '' 
	AND TRIM(COALESCE(zi_up, '')) <> '' 
	AND TRIM(COALESCE(zi_mid  , '')) <> '' 
	AND TRIM(COALESCE( zi_down, zi_left,zi_right, zi_left_up, zi_mid_in, zi_right_up,zi_right_down,zi_mid_out,'')) = '' 
)


, links as (
select * from link_l_r
    UNION
select * from link_l_m
    UNION
select * from link_m_r
    UNION
select * from link_l_m_r



    UNION
select * from link_l_m_r_d
    UNION
select * from link_u_d
    UNION
select * from link_u_m
    UNION
select * from link_m_d
    UNION
select * from link_u_m_d
    UNION
select * from link_m_mi
    UNION
select * from link_m_mo
    UNION
select * from link_mi_mo
    UNION
select * from link_m_mi_mo
    UNION
select * from link_u_l_r
    UNION
select * from link_u_ld_rd
    UNION
select * from link_u_m_ld_d_rd
    UNION
select * from link_lu_ru_d
    UNION
select * from link_lu_u_ru_d  
    UNION
select * from link_lu_u_ru_m_d  

    UNION
select * from link_lu_ld_r
    UNION
select * from link_l_ru_rd
    UNION
select * from link_l_ru_r_rd
    UNION
select * from link_lu_ru_ld_rd
    UNION
select * from link_lu_ru_ld_rd_m

    UNION
select * from link_lu_m
    UNION
select * from link_lu_m_d

    UNION
select * from link_ld_m
    UNION 
select * from     link_ld_u_m
)

--select * from links where link = '{pattern}'

/*
select count(*) from links   -- 6128
*/

select 
    bodies as "Bodies", 
    link as "Comp.Pattern", 
    count(*) as "Frequency" 
from links group by link 
order by bodies, frequency desc


;

"""

with DBConn() as _conn:
    df_link = pd.read_sql(sql_link, _conn)  

# df_link.fillna("").to_csv(f"tmp/zi_{pattern}.csv", index=False)
# df_link.head(5)

In [37]:
df_link

    Bodies   Comp.Pattern  Frequency
0        2            L-M       3033
1        2            U-D        732
2        2            U-M        694
3        2            L-R        568
4        2            M-R        294
5        2           LD-M        119
6        2           M-Mi        114
7        2           LU-M        110
8        2            M-D         70
9        2           M-Mo         26
10       3          U-M-D        139
11       3        LU-RU-D         51
12       3        L-RU-RD         46
13       3        LU-LD-R         35
14       3          L-M-R         27
15       3        U-LD-RD         20
16       3          U-L-R         14
17       3         LD-U-M          3
18       4      LU-U-RU-D          9
19       4      L-RU-R-RD          8
20       4    LU-RU-LD-RD          6
21       5  LU-RU-LD-RD-M          5
22       5    U-M-LD-D-RD          4
23       5    LU-U-RU-M-D          1

In [38]:
# write out pattern summary
df_link.to_csv("zi_comp_patterns-2.csv", index=False)

## Translate positional names

In [39]:
s = "上、下、左、右、中、左上、右上、左下、右下、中内、中外"

In [40]:
s.split("、")

['上', '下', '左', '右', '中', '左上', '右上', '左下', '右下', '中内', '中外']

In [41]:
p_dic = {i: i for i in s.split("、")}

In [42]:
p_dic

{'上': '上',
 '下': '下',
 '左': '左',
 '右': '右',
 '中': '中',
 '左上': '左上',
 '右上': '右上',
 '左下': '左下',
 '右下': '右下',
 '中内': '中内',
 '中外': '中外'}

In [43]:
p_dic = {
    'U': '上',
 'D': '下',
 'L': '左',
 'R': '右',
 'M': '中',
 'LU': '左上',
 'RU': '右上',
 'LD': '左下',
 'RD': '右下',
 'Mi': '中内',
 'Mo': '中外'}

In [44]:
s = """
L-M
U-D
U-M
L-R
M-R
LD-M
M-Mi
LU-M
M-D
M-Mo
U-M-D
LU-RU-D
L-RU-RD
LU-LD-R
L-M-R
U-LD-RD
U-L-R
LD-U-M
LU-U-RU-D
L-RU-R-RD
LU-RU-LD-RD
LU-RU-LD-RD-M
U-M-LD-D-RD
LU-U-RU-M-D
"""

In [49]:
n = 1
for i in s.split("\n"):
    if not i.strip(): continue 
    n += 1
    x = i.strip().split("-")
    x2 = [p_dic[j] for j in x]
#     print(str(n) + ":" + "-".join(x2))
    print("-".join(x2))

左-中
上-下
上-中
左-右
中-右
左下-中
中-中内
左上-中
中-下
中-中外
上-中-下
左上-右上-下
左-右上-右下
左上-左下-右
左-中-右
上-左下-右下
上-左-右
左下-上-中
左上-上-右上-下
左-右上-右-右下
左上-右上-左下-右下
左上-右上-左下-右下-中
上-中-左下-下-右下
左上-上-右上-中-下

In [5]:
sql_1 = """select * from t_zi_part 
where zi_up is not null and zi_left_down is not null and zi_right_down is not null
    and trim(zi_up) != '' and trim(zi_left_down) != '' and trim(zi_right_down) != ''
   and trim(zi_up) = trim(zi_left_down) 
   and trim(zi_left_down) = trim(zi_right_down);
"""
with DBConn() as _conn:
    df = pd.read_sql(sql_1, _conn)

In [6]:
df

,zi,u_id,zi_left_up,zi_left,zi_left_down,zi_up,zi_mid,zi_down,zi_right_up,zi_right,zi_right_down,zi_mid_out,zi_mid_in,ts,desc_cn,is_active,id_shuowen,hsk_note,desc_en
0,森,9077,None,None,木,木,None,None,None,None,木,None,None,2024-01-20 05:26:02,木多皃。从林从木。讀若曾參之參。,Y,3838,in HSK,None
1,众,199,None,None,人,人,None,None,None,None,人,None,None,2024-01-15 12:50:32,None,Y,None,from HSK,crowd; multitude/many
2,矗,2455,None,None,直,直,None,None,None,None,直,None,None,2024-01-28 13:29:42,None,Y,None,from HSK,lofty/upright
3,品,280,None,None,口,口,None,None,None,None,口,None,None,2024-01-25 01:35:16,None,Y,None,from HSK,(bound form) article; commodity
4,晶,5502,None,None,日,日,None,None,None,None,日,None,None,2024-01-23 22:31:46,None,Y,None,,
5,畾,6348,None,None,田,田,None,None,None,None,田,None,None,2024-01-20 17:41:18,,Y,None,,
6,劦,11084,None,None,力,力,None,None,None,None,力,None,None,2024-01-21 12:55:56,,Y,None,,
7,毳,2678,None,None,毛,毛,None,None,None,None,毛,None,None,2024-01-21 13:14:04,,Y,None,,
8,厽,13953,None,None,厶,厶,None,None,None,None,厶,None,None,2024-01-23 22:27:18,,Y,None,,
9,惢,13852,None,None,心,心,None,None,None,None,心,None,None,2024-01-25 22:16:16,,Y,None,,
10,叒,8989,None,None,又,又,None,None,None,None,又,None,None,2024-01-27 10:47:57,,Y,None,6,

In [52]:
sql_1 = """
update t_ele_zi
            set phono = 'gun', n_strokes = 1, n_frequency = 25, category = '', ts = '2025-02-17 22:58:48'
            where u_id = 2;
"""

with DBConn() as _conn:
    _conn.execute(sql_1)
    _conn.commit()

In [53]:
s = """
                zi
                , pinyin
                , phono
                , n_strokes
                , n_frequency
                , meaning
                , category
                , is_radical
                , u_id

"""

In [55]:
sorted([i.strip() for i in s.split(",") if i.strip()])

['category',
 'is_radical',
 'meaning',
 'n_frequency',
 'n_strokes',
 'phono',
 'pinyin',
 'u_id',
 'zi']

In [111]:
sep = "/" 
sep = ","
sep = " or "

s = """ 

"to hit," "to strike," or "to attack."
"""
lst = []
for l in s.replace('"','').split("\n"):
    if not l.strip(): continue
    l = l.replace(",", " or ").replace("/", " or ").replace('.',' or ')
    lst += [i.strip() for i in l.split(sep) if i.strip()]
print(" / ".join(lst))

to hit / to strike / to attack

to state / to express / to extend / to stretch / apply

## Add Elemental Characters

In [8]:

sql_1 = f"""
insert into t_ele_zi (
    zi,is_zi,id_kangxi,meaning,pinyin,n_strokes,examples,
    n_frequency,category,u_id,is_active,is_radical,phono,ts,is_neted
) values(
    '勹',0,-1,'wrap','bao',2,'勾',
    16,'radical',485,'Y','Y','bao','2025-04-05 23:30:47','Y'
);
"""

with DBConn() as _conn:
    _conn.execute(sql_1)
    _conn.commit()

In [9]:

sql_1 = f"""
delete from t_ele_zi where u_id=485;
"""

with DBConn() as _conn:
    _conn.execute(sql_1)
    _conn.commit()