In [1]:
import re
import csv
import pandas as pd 

from utils import *

2025-04-20 12:42:08.298 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-04-20 12:42:08.320 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

select * from t_zi where traditional is not null and trim(traditional) != '';

select max(cast(u_id as int)) from t_zi where is_active='Y';

select * from t_zi where cast(u_id as int) >= 13976;

-- delete from t_zi where cast(u_id as int) >= 13976;

select z.zi,z.traditional,st.traditional  
from t_zi z join t_simp_trad st on z.zi = st.zi 
where st.traditional != z.traditional and zi.is_active='Y';


select * from t_simp_trad;

update t_simp_trad set is_ele_zi =NULL;

update t_simp_trad set is_ele_zi ='Y'
where  zi in (
	select zi from t_ele_zi where is_active = 'Y'
);

In [2]:
# Regular expression pattern to match simplified and traditional characters
pattern = re.compile(r'^(.+?)〔(.+?)〕$')

# Prepare the CSV rows with header
csv_rows = [['simplified', 'traditional']]
file_in = "simplified-1986.md"
file_out = "simplified-1986.csv"

uniq_ = set()
n = 0
m = 0
# Read and parse the input file
with open(file_in, 'r', encoding='utf-8') as file:
    for line in file:
        # Split line into entries using tab as separator
        entries = line.strip().split()
        for entry in entries:
            entry = entry.strip()
            # Match each entry against the pattern
            match = pattern.match(entry)
            if match:
                simplified = match.group(1).strip()
                traditional = match.group(2).strip().split("、")[0]


                # if len(traditional) > 1:
                #     m += 1
                #     print(f"[{m}] multi entry: {entry}")
                
                if simplified in uniq_: 
                    n += 1
                    print(f"[{n}] dup entry: {entry}")
                else: 
                    uniq_.add(simplified)
                    csv_rows.append([simplified, traditional])
                    continue
                    
                    

# Write the parsed data to CSV
with open(file_out, 'w', encoding='utf-8', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(csv_rows)

[1] dup entry: 只〔戠〕
[2] dup entry: 账〔賬〕
[3] dup entry: 贱〔賤〕
[4] dup entry: 溅〔濺〕
[5] dup entry: 赆〔贐〕
[6] dup entry: 赉〔賚〕
[7] dup entry: 轹〔轢〕
[8] dup entry: 辆〔輛〕
[9] dup entry: 轳〔轤〕
[10] dup entry: 轮〔輪〕
[11] dup entry: 驺〔騶〕
[12] dup entry: 骅〔驊〕
[13] dup entry: 骊〔驪〕
[14] dup entry: 骖〔驂〕
[15] dup entry: 觌〔覿〕
[16] dup entry: 赎〔贖〕
[17] dup entry: 闯〔闖〕
[18] dup entry: 闼〔闥〕
[19] dup entry: 阐〔闡〕
[20] dup entry: 鸧〔鶬〕
[21] dup entry: 鸫〔鶇〕
[22] dup entry: 鸬〔鸕〕
[23] dup entry: 鹇〔鷳〕
[24] dup entry: 鹂〔鸝〕
[25] dup entry: 鹦〔鸚〕
[26] dup entry: 闿〔闓〕
[27] dup entry: 觊〔覬〕
[28] dup entry: 验〔驗〕
[29] dup entry: 签〔簽〕
[30] dup entry: 骄〔驕〕
[31] dup entry: 轿〔轎〕
[32] dup entry: 驱〔驅〕
[33] dup entry: 鸥〔鷗〕
[34] dup entry: 闱〔闈〕
[35] dup entry: 骁〔驍〕
[36] dup entry: 须〔須〕
[37] dup entry: 颅〔顱〕
[38] dup entry: 颊〔頰〕
[39] dup entry: 颟〔顢〕
[40] dup entry: 颞〔顳〕
[41] dup entry: 鲈〔鱸〕
[42] dup entry: 鲚〔鱭〕
[43] dup entry: 鲟〔鱘〕
[44] dup entry: 鲗〔鰂〕
[45] dup entry: 鲙〔鱠〕
[46] dup entry: 鲡〔鱺〕
[47] dup entry: 鲢〔鰱〕
[48] dup entry: 鲥〔鰣〕
[49] dup entry: 鲦〔鰷〕
[50] dup entry: 鲿〔鱨〕
[51] dup entry: 叆〔靉〕
[52] dup entry: 贽〔贄〕
[53] dup entry: 鸷〔鷙〕
[54] dup entry: 转〔轉〕
[55] dup entry: 啭〔囀〕
[56] dup entry: 讥〔譏〕
[57] dup entry: 议〔議〕
[58] dup entry: 讳〔諱〕
[59] dup entry: 讴〔謳〕
[60] dup entry: 讽〔諷〕
[61] dup entry: 论〔論〕
[62] dup entry: 诌〔謅〕
[63] dup entry: 诨〔諢〕
[64] dup entry: 谉〔讅〕
[65] dup entry: 读〔讀〕
[66] dup entry: 谠〔讜〕
[67] dup entry: 谰〔讕〕
[68] dup entry: 谳〔讞〕
[69] dup entry: 饥〔饑〕
[70] dup entry: 饩〔餼〕
[71] dup entry: 饯〔餞〕
[72] dup entry: 饶〔饒〕
[73] dup entry: 馈〔饋〕
[74] dup entry: 饧〔餳〕
[75] dup entry: 纩〔纊〕
[76] dup entry: 纬〔緯〕
[77] dup entry: 纲〔綱〕
[78] dup entry: 纶〔綸〕
[79] dup entry: 纵〔縱〕
[80] dup entry: 线〔綫〕
[81] dup entry: 绉〔縐〕
[82] dup entry: 绕〔繞〕
[83] dup entry: 绘〔繪〕
[84] dup entry: 绦〔縧〕
[85] dup entry: 鸶〔鷥〕
[86] dup entry: 绩〔績〕
[87] dup entry: 续〔續〕
[88] dup entry: 绳〔繩〕
[89] dup entry: 缕〔縷〕
[90] dup entry: 缆〔纜〕
[91] dup entry: 辔〔轡〕
[92] dup entry: 缤〔繽〕
[93] dup entry: 缨〔纓〕
[94] dup entry: 缬〔纈〕
[95] dup entry: 缵〔纘〕
[96] dup entry: 贤〔賢〕
[97] dup entry: 鲣〔鰹〕
[98] dup entry: 莺〔鶯〕
[99] dup entry: 览〔覽〕
[100] dup entry: 揽〔攬〕
[101] dup entry: 缆〔纜〕
[102] dup entry: 榄〔欖〕
[103] dup entry: 识〔識〕
[104] dup entry: 织〔織〕
[105] dup entry: 钖〔鍚〕
[106] dup entry: 钔〔鍆〕
[107] dup entry: 钢〔鋼〕
[108] dup entry: 钡〔鋇〕
[109] dup entry: 钨〔鎢〕
[110] dup entry: 钱〔錢〕
[111] dup entry: 䥽〔鏺〕
[112] dup entry: 铄〔鑠〕
[113] dup entry: 铲〔鏟〕
[114] dup entry: 铗〔鋏〕
[115] dup entry: 铙〔鐃〕
[116] dup entry: 铛〔鐺〕
[117] dup entry: 铡〔鍘〕
[118] dup entry: 铠〔鎧〕
[119] dup entry: 铧〔鏵〕
[120] dup entry: 铩〔鎩〕
[121] dup entry: 铸〔鑄〕
[122] dup entry: 链〔鏈〕
[123] dup entry: 铿〔鏗〕
[124] dup entry: 锏〔鐧〕
[125] dup entry: 锁〔鎖〕
[126] dup entry: 铹〔鐒〕
[127] dup entry: 锎〔鐦〕
[128] dup entry: 铼〔錸〕
[129] dup entry: 锧〔鑕〕
[130] dup entry: 锣〔鑼〕
[131] dup entry: 镂〔鏤〕
[132] dup entry: 锵〔鏘〕
[133] dup entry: 镄〔鐨〕
[134] dup entry: 镋〔钂〕
[135] dup entry: 镔〔鑌〕
[136] dup entry: 镊〔鑷〕
[137] dup entry: 镩〔鑹〕
[138] dup entry: 镧〔鑭〕
[139] dup entry: 镥〔鑥〕
[140] dup entry: 觉〔覺〕
[141] dup entry: 搅〔攪〕
[142] dup entry: 鲎〔鱟〕
[143] dup entry: 译〔譯〕
[144] dup entry: 绎〔繹〕
[145] dup entry: 驿〔驛〕
[146] dup entry: 铎〔鐸〕
[147] dup entry: 经〔經〕
[148] dup entry: 轻〔輕〕
[149] dup entry: 颈〔頸〕
[150] dup entry: 鸾〔鸞〕
[151] dup entry: 锅〔鍋〕

In [16]:
df = pd.read_csv(file_out)

TypeError: read_csv() got an unexpected keyword argument 'index'

In [4]:
df.shape, df.columns

((2186, 2), Index(['simplified', 'traditional'], dtype='object'))

In [25]:
df.rename(columns={"simplified":"zi"}, inplace=True)

In [26]:
df.head(5)

  zi traditional is_active
0  碍           礙         Y
1  肮           骯         Y
2  袄           襖         Y
3  坝           壩         Y
4  板           闆         Y

In [27]:
df.tail(5)

     zi traditional is_active
2181  娲           媧         Y
2182  祸           禍         Y
2183  脶           腡         Y
2184  窝           窩         Y
2185  蜗           蝸         Y

In [17]:
df["is_active"] = 'Y'

In [28]:
l_sim = df["zi"].to_list()

In [29]:
l_trad = df["traditional"].to_list()

In [30]:
len(l_sim), len(set(l_sim)), len(set(l_trad))  # (2337, 2186)

(2186, 2186, 2186)

In [31]:
table_name = "t_simp_trad"

In [32]:
with DBConn() as _conn:
    df.to_sql(table_name,_conn, index=False, if_exists="replace")

In [62]:
with DBConn() as _conn:
    sql_1 = f"""
    select max(cast(u_id as int)) as max_u_id from t_zi where is_active='Y';
    """
    
    df_1 = pd.read_sql(sql_1, _conn)

In [63]:
max_u_id = df_1["max_u_id"].to_list()[0]
max_u_id

13975

In [64]:
with DBConn() as _conn:
    sql_0 = f"""
    select * from {table_name} 
    where is_active = 'Y'  
    and zi not in (
        select zi from t_zi where is_active = 'Y'  
    )
    """
    
    df_0 = pd.read_sql(sql_0, _conn).fillna("")

In [65]:
df_0

   zi traditional is_active
0   号           號         Y
1   叹           嘆         Y
2   䎬           䎱         Y
3   䞍           䝼         Y
4   䙌           䙡         Y
5   㳠           澾         Y
6   䥽           鏺         Y
7   㧏           掆         Y
8   㭎           棡         Y
9   䦶           䦛         Y
10  䦷           䦟         Y
11  鸼           鵃         Y
12  䴖           鶄         Y
13  䴘           鷉         Y
14  䴙           鸊         Y
15  厉           厲         Y
16  顼           頊         Y
17  䲡           鰌         Y
18  䲣           䱷         Y
19  䲢           鰧         Y
20  鳘           鰵         Y
21  讻           訩         Y
22  饻           餏         Y
23  纼           紖         Y
24  钌           釕         Y
25  䥺           釾         Y
26  䦂           䥇         Y
27  䦃           鐯         Y
28  䦅           鐥         Y

In [66]:
df_0["u_id"] = df_0.index + 1 + int(max_u_id)

In [67]:
df_0["layer"] = 'HSK_z'

In [68]:
df_0.to_csv("zi_extra.csv",index=False)

In [69]:
extra = df_0.to_dict("records")

In [70]:
extra

[{'zi': '号',
  'traditional': '號',
  'is_active': 'Y',
  'u_id': 13976,
  'layer': 'HSK_z'},
 {'zi': '叹',
  'traditional': '嘆',
  'is_active': 'Y',
  'u_id': 13977,
  'layer': 'HSK_z'},
 {'zi': '䎬',
  'traditional': '䎱',
  'is_active': 'Y',
  'u_id': 13978,
  'layer': 'HSK_z'},
 {'zi': '䞍',
  'traditional': '䝼',
  'is_active': 'Y',
  'u_id': 13979,
  'layer': 'HSK_z'},
 {'zi': '䙌',
  'traditional': '䙡',
  'is_active': 'Y',
  'u_id': 13980,
  'layer': 'HSK_z'},
 {'zi': '㳠',
  'traditional': '澾',
  'is_active': 'Y',
  'u_id': 13981,
  'layer': 'HSK_z'},
 {'zi': '䥽',
  'traditional': '鏺',
  'is_active': 'Y',
  'u_id': 13982,
  'layer': 'HSK_z'},
 {'zi': '㧏',
  'traditional': '掆',
  'is_active': 'Y',
  'u_id': 13983,
  'layer': 'HSK_z'},
 {'zi': '㭎',
  'traditional': '棡',
  'is_active': 'Y',
  'u_id': 13984,
  'layer': 'HSK_z'},
 {'zi': '䦶',
  'traditional': '䦛',
  'is_active': 'Y',
  'u_id': 13985,
  'layer': 'HSK_z'},
 {'zi': '䦷',
  'traditional': '䦟',
  'is_active': 'Y',
  'u_id': 13986,
  'layer': 'HSK_z'},
 {'zi': '鸼',
  'traditional': '鵃',
  'is_active': 'Y',
  'u_id': 13987,
  'layer': 'HSK_z'},
 {'zi': '䴖',
  'traditional': '鶄',
  'is_active': 'Y',
  'u_id': 13988,
  'layer': 'HSK_z'},
 {'zi': '䴘',
  'traditional': '鷉',
  'is_active': 'Y',
  'u_id': 13989,
  'layer': 'HSK_z'},
 {'zi': '䴙',
  'traditional': '鸊',
  'is_active': 'Y',
  'u_id': 13990,
  'layer': 'HSK_z'},
 {'zi': '厉',
  'traditional': '厲',
  'is_active': 'Y',
  'u_id': 13991,
  'layer': 'HSK_z'},
 {'zi': '顼',
  'traditional': '頊',
  'is_active': 'Y',
  'u_id': 13992,
  'layer': 'HSK_z'},
 {'zi': '䲡',
  'traditional': '鰌',
  'is_active': 'Y',
  'u_id': 13993,
  'layer': 'HSK_z'},
 {'zi': '䲣',
  'traditional': '䱷',
  'is_active': 'Y',
  'u_id': 13994,
  'layer': 'HSK_z'},
 {'zi': '䲢',
  'traditional': '鰧',
  'is_active': 'Y',
  'u_id': 13995,
  'layer': 'HSK_z'},
 {'zi': '鳘',
  'traditional': '鰵',
  'is_active': 'Y',
  'u_id': 13996,
  'layer': 'HSK_z'},
 {'zi': '讻',
  'traditional': '訩',
  'is_active': 'Y',
  'u_id': 13997,
  'layer': 'HSK_z'},
 {'zi': '饻',
  'traditional': '餏',
  'is_active': 'Y',
  'u_id': 13998,
  'layer': 'HSK_z'},
 {'zi': '纼',
  'traditional': '紖',
  'is_active': 'Y',
  'u_id': 13999,
  'layer': 'HSK_z'},
 {'zi': '钌',
  'traditional': '釕',
  'is_active': 'Y',
  'u_id': 14000,
  'layer': 'HSK_z'},
 {'zi': '䥺',
  'traditional': '釾',
  'is_active': 'Y',
  'u_id': 14001,
  'layer': 'HSK_z'},
 {'zi': '䦂',
  'traditional': '䥇',
  'is_active': 'Y',
  'u_id': 14002,
  'layer': 'HSK_z'},
 {'zi': '䦃',
  'traditional': '鐯',
  'is_active': 'Y',
  'u_id': 14003,
  'layer': 'HSK_z'},
 {'zi': '䦅',
  'traditional': '鐥',
  'is_active': 'Y',
  'u_id': 14004,
  'layer': 'HSK_z'}]

In [71]:
with DBConn() as _conn:
    for row in extra: 
        insert_sql = f"""
        insert into t_zi (zi, traditional, layer, is_active, u_id) 
        values ('{row.get("zi")}', '{row.get("traditional")}', '{row.get("layer")}',  '{row.get("is_active")}', '{row.get("u_id")}'); 
        """
        print(insert_sql) 
        db_run_sql(insert_sql, _conn)

        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('号', '號', 'HSK_z',  'Y', '13976');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('号', '號', 'HSK_z',  'Y', '13976');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('叹', '嘆', 'HSK_z',  'Y', '13977');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('叹', '嘆', 'HSK_z',  'Y', '13977');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䎬', '䎱', 'HSK_z',  'Y', '13978');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䎬', '䎱', 'HSK_z',  'Y', '13978');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䞍', '䝼', 'HSK_z',  'Y', '13979');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䞍', '䝼', 'HSK_z',  'Y', '13979');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䙌', '䙡', 'HSK_z',  'Y', '13980');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䙌', '䙡', 'HSK_z',  'Y', '13980');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('㳠', '澾', 'HSK_z',  'Y', '13981');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('㳠', '澾', 'HSK_z',  'Y', '13981');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䥽', '鏺', 'HSK_z',  'Y', '13982');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䥽', '鏺', 'HSK_z',  'Y', '13982');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('㧏', '掆', 'HSK_z',  'Y', '13983');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('㧏', '掆', 'HSK_z',  'Y', '13983');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('㭎', '棡', 'HSK_z',  'Y', '13984');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('㭎', '棡', 'HSK_z',  'Y', '13984');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䦶', '䦛', 'HSK_z',  'Y', '13985');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䦶', '䦛', 'HSK_z',  'Y', '13985');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䦷', '䦟', 'HSK_z',  'Y', '13986');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䦷', '䦟', 'HSK_z',  'Y', '13986');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('鸼', '鵃', 'HSK_z',  'Y', '13987');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('鸼', '鵃', 'HSK_z',  'Y', '13987');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䴖', '鶄', 'HSK_z',  'Y', '13988');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䴖', '鶄', 'HSK_z',  'Y', '13988');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䴘', '鷉', 'HSK_z',  'Y', '13989');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䴘', '鷉', 'HSK_z',  'Y', '13989');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䴙', '鸊', 'HSK_z',  'Y', '13990');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䴙', '鸊', 'HSK_z',  'Y', '13990');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('厉', '厲', 'HSK_z',  'Y', '13991');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('厉', '厲', 'HSK_z',  'Y', '13991');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('顼', '頊', 'HSK_z',  'Y', '13992');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('顼', '頊', 'HSK_z',  'Y', '13992');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䲡', '鰌', 'HSK_z',  'Y', '13993');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䲡', '鰌', 'HSK_z',  'Y', '13993');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䲣', '䱷', 'HSK_z',  'Y', '13994');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䲣', '䱷', 'HSK_z',  'Y', '13994');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䲢', '鰧', 'HSK_z',  'Y', '13995');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䲢', '鰧', 'HSK_z',  'Y', '13995');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('鳘', '鰵', 'HSK_z',  'Y', '13996');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('鳘', '鰵', 'HSK_z',  'Y', '13996');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('讻', '訩', 'HSK_z',  'Y', '13997');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('讻', '訩', 'HSK_z',  'Y', '13997');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('饻', '餏', 'HSK_z',  'Y', '13998');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('饻', '餏', 'HSK_z',  'Y', '13998');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('纼', '紖', 'HSK_z',  'Y', '13999');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('纼', '紖', 'HSK_z',  'Y', '13999');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('钌', '釕', 'HSK_z',  'Y', '14000');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('钌', '釕', 'HSK_z',  'Y', '14000');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䥺', '釾', 'HSK_z',  'Y', '14001');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䥺', '釾', 'HSK_z',  'Y', '14001');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䦂', '䥇', 'HSK_z',  'Y', '14002');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䦂', '䥇', 'HSK_z',  'Y', '14002');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䦃', '鐯', 'HSK_z',  'Y', '14003');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䦃', '鐯', 'HSK_z',  'Y', '14003');


        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䦅', '鐥', 'HSK_z',  'Y', '14004');

[DEBUG]
        insert into t_zi (zi, traditional, layer, is_active, u_id)
        values ('䦅', '鐥', 'HSK_z',  'Y', '14004');

In [74]:
sql_1 = """
select z.zi,z.traditional,st.traditional  
from t_zi z join t_simp_trad st on z.zi = st.zi 
where st.traditional != z.traditional and z.is_active='Y';
"""

with DBConn() as _conn:  
    df_1 = pd.read_sql(sql_1, _conn).fillna("")

In [75]:
df_1

   zi traditional traditional
0   众           眾           衆
1   赃           贓           贜
2   绣           繡           綉
3   钵           缽           鉢
4   厕           廁           厠
.. ..         ...         ...
74  脏       髒 / 臟           臟
75  荡       盪 / 蕩           蕩
76  蒙                       矇
77  说           說           説
78  谥       謚 / 諡           謚

[79 rows x 3 columns]

In [76]:
df_1.to_csv("zi_extra_review.csv",index=False)

In [79]:
with DBConn() as _conn:
    upd_sql = f"""update t_ele_zi set traditional  = (
select traditional from t_simp_trad where zi = t_ele_zi.zi limit 1
) 
where is_active='Y';
    """
    db_run_sql(upd_sql, _conn)

[DEBUG] update t_ele_zi set traditional  = (
select traditional from t_simp_trad where zi = t_ele_zi.zi limit 1
)
where is_active='Y';