In [1]:
import pandas as pd 
from utils import *

2024-09-17 00:27:45.198 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-09-17 00:27:45.219 WARNING streamlit.runtime.scriptrunner_utils.script_run_context: Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [2]:
with DBConn() as _conn:
    sql_stmt = f"""
        select zi,fib_num from t_zi 
        where fib_num is not null 
        order by cast(fib_num as int), zi
        ;
    """
    df = pd.read_sql(sql_stmt, _conn)

In [3]:
df

    zi fib_num
0    气       0
1    炁       0
2    空       0
3    心       1
4    日       2
..  ..     ...
397  饮     233
398  高     233
399  鹿     233
400  麦     233
401  黄     233

[402 rows x 2 columns]

In [4]:
df.to_csv("char360_fib_num.csv", index=False)

In [5]:
!cd

C:\Users\p2p2l\projects\wgong\zinets\app\zadmin