Update 100 most commonly used parts or simple Zis

In [5]:
import pandas as pd 
from utils import *

In [1]:
file_xlsx = r"C:\Users\p2p2l\projects\wgong\zistory\acap-book\docs\most-often-used-parts.xlsx"

In [3]:
df2 = pd.read_excel(file_xlsx, sheet_name="zi-100").fillna("")

In [4]:
df2

    part
0      氵
1      水
2      木
3     艹
4      草
..   ...
117    士
118    由
119    占
120    小
121    令

[122 rows x 1 columns]

In [6]:
zi_100 = df2["part"].to_list()

In [7]:
zi_100

['氵',
 '水',
 '木',
 '艹 ',
 '草',
 '口',
 '扌',
 '手',
 '亻',
 '人',
 '阝',
 '城',
 '月',
 '土 ',
 '地',
 '女',
 '虫',
 '忄',
 '心',
 '日',
 '王',
 '⺮ ',
 '竹',
 '纟',
 '讠',
 '言',
 '辶',
 '钅',
 '金',
 '火',
 '心',
 '目',
 '禾',
 '足',
 '疒',
 ' 病',
 '石',
 '一',
 '又',
 '山',
 '宀 ',
 '家',
 '鸟',
 '攵',
 '贝',
 '巾',
 '车',
 '衤',
 '衣',
 '犭',
 '力',
 '米',
 '隹',
 '十',
 '田',
 '酉',
 '页',
 '马',
 '大',
 '刂 ',
 '刀',
 '羽',
 '欠',
 '广',
 '人',
 '穴',
 '丿',
 '礻',
 '示',
 '羊',
 '殳',
 '言',
 '冖',
 '革',
 '罒',
 '白',
 '饣',
 '食',
 '刀',
 '厂',
 '耳',
 '立',
 '寸',
 '糸',
 '戈',
 '非',
 '皿',
 '子',
 '冫',
 '雨',
 '八',
 '彳',
 '亠',
 '尸',
 '方',
 '丷',
 '衣',
 '丶',
 '夫',
 '分',
 '且',
 '鬼',
 '几',
 '工',
 '丨',
 '彡',
 '走',
 '鱼',
 '斤',
 '黑',
 '厶',
 '弓',
 '犬',
 '囗',
 '干',
 '门',
 '甫',
 '士',
 '由',
 '占',
 '小',
 '令']

In [13]:
char1 = '草'

with DBConn() as _conn:
    sql_stmt = f"select zi, baidu_url, set_id from t_zi where zi='{char1}' ; "
    df = pd.read_sql(sql_stmt, _conn).fillna("")

In [14]:
df

  zi                                       baidu_url set_id
0  草  https://baike.baidu.com/item/%E8%8D%89/2774607    100

In [15]:
with DBConn() as _conn:
    for x in zi_100:
        
        # f x != char1: continue 

        sql_stmt = f"""
            update t_zi 
            set set_id = 100
                where zi='{x}' and (set_id is null or set_id = '' or set_id > 100) 
            ;
        """
        db_run_sql(sql_stmt, _conn, debug=False)  #  ) #

In [18]:
zi_10 = [ '女','亻','人','子',
 '钅', '金',
 '木',
'冫','氵', '水',
 '火',
 '土 ', '地','天']

In [19]:
with DBConn() as _conn:
    for x in zi_10:
        
        # f x != char1: continue 

        sql_stmt = f"""
            update t_zi 
            set set_id = 10
                where zi='{x}' and (set_id is null or set_id = '' or set_id > 10) 
            ;
        """
        db_run_sql(sql_stmt, _conn, debug=False)  #  ) #

In [21]:
zi_30_str= """风
雨
川
山
石
光
电
云
古
今
年
春
夏
秋
冬
宇
宙
世
界
东
西
南
北
中
一
二
三
四
五
六
七
八
九
十
百
千
万
"""

In [22]:
zi_30 = [x.strip() for x in zi_30_str.split("\n") if x.strip()]
len(zi_30)

37

In [23]:
with DBConn() as _conn:
    for x in zi_30:
        
        # f x != char1: continue 

        sql_stmt = f"""
            update t_zi 
            set set_id = 30
                where zi='{x}' and (set_id is null or set_id = '' or set_id > 30) 
            ;
        """
        db_run_sql(sql_stmt, _conn, debug=False)  #  ) #